body{
    background-color: blue;
}

.student{
    color:red;
    font-size: 23px;
    background-color:blue;
    font-weight: bold;
}
tbody{
    color:yellow;
}

ul{
    color:'blue';
    background-color: red;
    font-size: 34;
}